li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix:after {
  *zoom: 1;
}
input {
  border: 0;
  outline: 0;
}
